/* display-flex 줘야할것들목록
class.up
class d
*/


*{
    margin: 0; /* border은 초기값 0 이기에 */
    padding: 0;
    text-align: center;
    text-decoration: none;  /* a링크에 밑줄없에는거 */
    list-style: none; /*  */
    color: #333;
    box-sizing: border-box;     /* 둘중하나선택 보더박스
    콘텐츠박스는 번거로움의문제때문에 보더박스많이씀*/

}


.wrap{
    width: 100%; /* 전체화면기준으로 100 설정 ! */
    height: 950px;
    background-color: #333;
    font-size: 30px;
}

.up{
    width: 100%;
    height: 850px;
    background-color: aqua;
    display: flex;
}

.a{
    width: 200px;
    height: 850px;
    background-color: bisque;
}
.a>.a1{
    width: 200px;
    height: 150px;
    background-color: rgb(184, 137, 228);
}


.a>.a2{
    width: 200px;
    height: 700px;
    background-color: rgb(99, 151, 151);
}

.right{
    width: calc(100% - 200px);/* 띄어쓰기 중요 ! */
    height: 850px;
    background-color: rgb(182, 229, 214);
    position: relative;/* 여기를기준으로! */

}


.b{
    width: 100%; /* 부모가 먼저 계산해놓은거에 100%라는뜻 */
    height: 400px;
    background-color: rgb(204, 235, 28);
}

.c{
    width: 100%;
    height: 450px;
    background-color: rgb(197, 132, 46);
}
.c>.c1{
    width: 100%;
    height: 200px;
    background-color: blue;
}
.c>.c2{
    width: 100%;
    height: 250px;
    background-color: rgb(91, 91, 218);
}
.c>.c3{ /* 위치를 다시 작성하기 ! */
    width: 100px;
    height: 350px;
    background-color: rgb(199, 199, 218);
    position: absolute;
    top: 0;/* 제일 위쪽으로 올려줌 */
    right: 0px;/* 오른쪽으로 딱 붙여줌 */
    left: 200px;
    
}


.d{
    width: 100%;/* wrap의 자식이기에 wrap의 100%를 따른다  */
    height: 100px;
    background-color: rgb(207, 207, 186);
    display: flex;
}
.d>.d1{
    width: 200px;
    height: 100px;
    background-color: rgb(130, 226, 226);
}
.d>.d2{
    width: calc(100% - 200px - 300px);
    height: 100px;
    background-color: #968e8e;
}
.d>.d3{
    width: 300px;
    height: 100px;
    background-color: rgb(155, 177, 197);
}





